<style media="screen">
  md-card[type~=number]{
    max-height: 8em;
}
</style>
<md-content md-scroll-y>
 <section layout="row"  layout-wrap layout-padding>
    <widget class="block1" type="number" name="ips"></widget>
    <widget class="block3" type="number" name="blocks"></widget>
    <widget class="block3" type="number" name="power"></widget>
    <widget class="block3" type="number" name="mlevel"></widget>

</section>

<section layout="row"  layout-wrap layout-padding>
  <widget class="block4" type="graph" name="fil3chain"></widget>
</section>

</md-content>
